<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
</head>
<body>
    <div class="login">
        <h1>Predict Salary Analysis</h1>

        <form action="{{ url_for('collect')}}", method="POST">
            <button type="submit" class="btn btn-primary btn-block btn-large">Collect Data</button>
        </form>
        
        <form action="{{ url_for('attendance')}}", method="POST">
            <button type="submit" class="btn btn-primary btn-block btn-large">Take Attendance</button>
        </form>
        
    
        <form action="{{ url_for('attendance_sheet')}}", method="POST">
            <button type="submit" class="btn btn-primary btn-block btn-large">Display Attendance sheet</button>
        </form>

        <br>
        <br>
    </div>
    
</body>
</html>