<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Attendance</title>
</head>
<body>
    Take Attendance
    <form action="{{ url_for('take_attendance')}}", method="POST">
        <button type="submit" class="btn btn-primary btn-block btn-large">take attendance</button>
    </form>
    <form action="{{ url_for('attendance_sheet')}}", method="POST">
        <button type="submit" class="btn btn-primary btn-block btn-large">Display Attendance sheet</button>
    </form>
    
</body>
</html>