body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  min-height: 100vh;

  background-color: rgb(211, 232, 250);
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 30rem;
  height: 60px;
  margin-top: 2rem;
  color: black;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  box-shadow: 0px 5px 5px 0px rgba(53, 53, 53, 0.85);
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}
.btn-train {
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
.btn:hover {
  transform: scale(1.02);
  color: black;

  box-shadow: 2px 9px 12px 0px rgba(34, 34, 34, 0.95);
}

h1 {
  color: #000;
}

.btn:focus {
  color: black;
  background-color: #000;
  border: none;
  box-shadow: none;
}

ul {
  color: white;
}

.instuction {
  font-size: 3rem;
}

ul > li {
  margin-left: 3rem;
}
.img-fluid {
  animation: MoveUpDown 1s ease-in-out infinite alternate-reverse both;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

input:not([type="checkbox"]) {
  height: 3.5rem;
  width: 100%;
  border: 0;
  padding: 20px;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  box-shadow: 0px 3px 5px 0px rgba(63, 63, 63, 0.85);
}

input:not([type="checkbox"]):focus {
  outline: #04a2eb;
  box-shadow: 2px 5px 12px 0 rgba(116, 116, 116, 0.95);
}

#attnTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#attnTable td,
#attnTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#attnTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#attnTable tr:nth-child(odd) {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(163, 175, 243, 1) 0%,
    rgba(220, 182, 232, 1) 100.2%
  );
}

#attnTable tr:hover {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
}

#attnTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #414141;
  color: white;
}

.attendance {
  margin-top: 50px;
  margin-bottom: 50px;
}
